STATIC_IMAGE=cevv/static-web:latest
DYNAMIC_IMAGE=cevv/dynamic-app:latest
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=uas_db
DB_USER=uas_user
DB_PASSWORD=uas_password
MARIADB_ROOT_PASSWORD=root_password_change_me
